*.out
*.code-workspace
obj
*.dat
build*
*.py
!pade*.py
!colormap.py
build_test
!mea/*.py
!mea/python_modules/*.py
.DS_Store
mea/*.dat.pade
*.pdf
mea/Figs
__pycache__
data
mea/test_bb_splines
mea/bb*
mea/cpp_tests/bb*
